
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <h1>Email Verification</h1>
    <h3>Email has been sent</h3>
    <h3>Please verify it.</h3>
</head>
<body>
</body>
</html>
