@model ChangeUsername
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_AccountIdentityHeaderPartial" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Change Username</h3>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form method="post">
                                <div class="form-group">
                                    <label asp-for="NewUsername">New Username</label>
                                    <input asp-for="NewUsername" class="form-control p_input" placeholder="Username">
                                    <span asp-validation-for="NewUsername" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">New Username</label>
                                    <input asp-for="Password" class="form-control p_input" placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-block enter-btn">Save Username</button>
                                    <a class="btn btn-secondary btn-block enter-btn" asp-controller="Account" asp-action="SettingAccount">
                                        Cancel
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- row ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <partial name="_AccountIdentityFooterPartial" />
</body>
</html>